<ul class="archives">
  <% articles.each do |article| %>
    <li>
      <a href="<%= article.url %>"><%= article.title %></a>
      <% if article.date %>
        <span class="date"><%= article.date.formatted %></span>
      <% end %>
    </li>
  <% end %>
</ul>
