<ul class="archives">
  <% articles.each do |article| %>
    <li>
      <a href="<%= article.url %>"><%= article.title %></a>
      <span class="date"><%= article.date.formatted %></span>
    </li>
  <% end %>
</ul>
