<div class="article">
  <h2><a href="<%= article.url %>"><%= article.title %></a></h2>
  <span><%= article.date %></h2>
  <div class="body">
    <%= format summary_only ? article.summary : article.body %>
  </div>
</div>
