<ul id="articles">
  <% @recent.each do |article| %>
    <li>
      <%= render_article article, true %>
    </li>
  <% end %>
</ul>
<h3><a href="/archives">Archives</a></h3>
<%= render_archived @archived %>
